<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
        <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\Microsoft.SourceBrowser.SourceIndexServer.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" 
                forwardWindowsAuthToken="false"/>
        <defaultDocument enabled="false">
            <files>
                <clear />
                <add value="index.html" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>
<!--ProjectGuid: 018CE264-C76D-4448-BB0A-89A25F1088A2-->