<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <clear />
    <add key="src.directory" value="" />
    <add key="src.folder" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <trace enabled="true" />
    <httpRuntime targetFramework="4.5" />
    <identity impersonate="true" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=edge" />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="0.04:00:00" />
    </staticContent>
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
   
    <defaultDocument>
      <files>
        <clear />
        <remove value="default.html" />
        <add value="index.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>